.container {
  background: #708090 ;
  height: 100vh;
  width: 100vw;
}
.fullscreenVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  /* Maintain aspect ratio */
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /* Center the video */
  transform: translate(-50%, -50%);
}

.browserWindow {
  /* Apply the CRT effect here */
  filter: brightness(1.2) contrast(1.2);
  animation: crt-flicker 2.4s infinite;

  /* Styling */
  position: fixed;
  top: 25px; /* height of the toolbar */
  margin-bottom: 50px; /* height of the taskbar */
  left: 1%; /* width of the left bar */
  right: 1%; /* width of the right bar */
  background: #ffebef;
  overflow: auto; /* make it scrollable */

  position: relative; /* Make it a positioning context for the overlay */

  color: black;
  height: 100%;
  width: 98%;

  border-radius: 20px;
}

.scanlinesOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/scanlines.png') no-repeat center center fixed; 
  background-size: 400% 200%;
  pointer-events: none; /* Make it non-interactable */
  opacity: 0.35;
  z-index: 9999; /* Make sure it's on top of other elements */
}


@keyframes crt-flicker {
  0% { filter: brightness(1) contrast(1); }
  50% { filter: brightness(1.2) contrast(1.2); }
  100% { filter: brightness(1) contrast(1); }
}


.title {
  text-align: center;
  /* Additional styles */
  height: 20vh;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  -webkit-font-smoothing: none;
  padding-top: 100px;
  font-size: 5em;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* Additional styles */
  border: 0px solid black;
  height: 40vh;
}

.button {
  position: relative;
  background: transparent; /* Make the button background transparent */
  /* Additional styles */
  border: 0px solid black;
}

.button img {
  width: 25%;
  min-width: 150px;
  background: transparent; /* Make the image background transparent */
  /* Additional styles */
  
}

.button span {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
    /* Additional styles */
  color: black;
  font-size: 2em;
  font-family: 'Pixel Operator', sans-serif;
}